main.home{
    @include flex-parent(column,initial,initial);
    background: var(--higray);
    transition: transform ease .3s;

    &.offset{
        @media screen and ($sm-and-above){
            transform: translateX(264px);
        }
    }
}