.menu{
    @extend .col;
    @extend %floating;
    @include flex-parent(column,flex-start,stretch);
    background: var(--darkblue);
    color: var(--white);
    right: unset;
    left: -264px;
    width: 264px;
    transition: transform ease .3s;

    &.showMenu{
        transform: translateX(264px);
    }

    h1{
        font-size: 1.53rem;
        margin: 1.03rem auto;
    }

    & > figure{
        margin: 1.3rem 0;
        h3{
            font-size: 1.065rem;
            margin: 0.47rem 2rem;
        }
        h4{
            text-align: center;
            margin: 0 0 0 1.9px;
            font-weight: 100;
            font-size: 0.9rem;
            line-height: 5.3px;
            letter-spacing: 0.1px;
        }
    }

    &-profile{
        margin-top: 1.3rem;
        text-align: center;

        img{
            border:.3rem solid #32464f;
            border-radius: 100%;
            height: 6.69rem;
            object-fit: cover;
            width: 6.69rem;
        }
    }

    &-links{
        @include flex-parent(column,flex-start,center);
        margin: 3.2rem 3.4rem;

        a{
            &:first-child{
                margin-top: 0;
            }
            color: var(--hiblue);
            text-decoration: none;
            margin: 0.73rem 0;
            letter-spacing: -0.3px;

            &:hover{
                color: var(--softPurple);
            }
        }
    }
}