<main class="history">
  <header>
    <h2>Directorio de empresas</h2>
    <button class="add">Agregar empresa</button>
  </header>
  
  <section>
    <div class="title">
      <div class="title-general">
        <h4>Empresas</h4>
        <span class="count">500</span>
      </div>
      <div class="title-options">
        Ordenar por:
        <a href="#">Empresa</a> | 
        <a href="#">Administrador</a>
      </div>
    </div>
  
    <div class="list">
  
      <header class="list-head">
        <span class="index">1 - 10 de 230</span>
        <button class="arrow"> <i class="material-icons"> keyboard_arrow_left </i> </button>
        <button class="arrow"> <i class="material-icons"> keyboard_arrow_right </i> </button>
      </header>
  
      <div class="list-tools">
        <label for="search-input" class="search">
          <i class="material-icons">search</i>
          <input id="search-input" type="search">
        </label>
        <ul>
          <li> <i class="material-icons">star</i> </li>
          <li *ngFor="let number of numbers, let i = index"> {{ getNextLetter(i) | uppercase }} </li>
        </ul>
      </div>
  
      <div class="list-container">
  
        <article class="company" *ngFor="let company of companies">
          
          <figure *ngIf="company.filename !== ''"> <img [attr.src]="'./assets/'+company.filename" alt="logotipo"> </figure>
          <figure *ngIf="company.filename == ''"> <img src="./assets/empty.png" alt="logotipo"> </figure>
  
          <div class="company-names">
            <span class="company-names-society">
              {{company?.company}}
            </span>
            <span class="company-names-manager">
              {{company?.managment}}
            </span>
          </div>
  
          <div class="company-date">
            <small>Fecha de registro</small>
            <span>24 de Ene</span>
          </div>

          <div class="company-blank"></div>
  
          <div class="company-users">
            <span> {{company?.users}} </span>
            <small>usuarios</small>
          </div>
  
          <div class="company-artciles">
            <span> {{company?.articles}} </span>
            <small>publicaciones</small>
          </div>
  
          <div class="company-credit">
            <span> {{ company?.credits_limit ? 'limited' : 'unlimited' }} </span>
            <small>créditos</small>
          </div>
  
        </article>
  
      </div>
  
      <footer class="list-head">
        <span class="index">1 - 10 de 230</span>
        <button class="arrow dark"> <i class="material-icons"> keyboard_arrow_left </i> </button>
        <button class="arrow dark"> <i class="material-icons"> keyboard_arrow_right </i> </button>
      </footer>

      <button class="add-mobile"> <i class="material-icons">add</i> </button>
  
    </div>
  
  
  </section>

  <footer class="mobile">
    E A R C
  </footer>
      
</main>