button.add{
    background: var(--white);
    border-radius: 40px;
    padding: 0.3rem 1.2rem;
    border: 1px solid var(--disabled);
    &:hover{
        background: var(--higray);
    }
}

button.add-mobile{
    @include float(unset, 1rem, 6rem, unset);
    background: #fbfbfd;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 0px 7px -3px #566075ab;
    color: var(--bold);
    height: 2.7rem;
    position: fixed;
    width: 2.7rem;

    @media screen and ($sm-and-above){
        display: none;
    }
}

button.arrow{
    background: rgba(238, 238, 238, 0.23);
    border: none;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    height: 1.5rem;
    margin: 0 0.2rem;
    padding: 0;
    width: 1.5rem;
    &:hover{
        background: rgba(238, 238, 238, 0.73);
    }
    &.dark{
        background: rgba(184, 185, 185, 0.23);
        color: var(--disabled);
        &:hover{
            background: var(--disabled);
            color: var(--lowgray);
        }
    }
}

.menu_btn{
    @include flex-parent(column,center,space-around);
    @include float(1.4rem,unset,unset,23px);
    cursor: pointer;
    height: 1.2rem;
    width: 1rem;
    z-index: 9;
    transition: transform ease .3s;
    transform: translateX(0px) scaleX(1.2);

    &.opened{
        transform: translateX(200px) scaleX(1);
    }

    .stroke{
        background: var(--white);
        height: .063rem;
        width: 100%;

        &:first-child{
            border-radius: 30% 30% 0% 0%;
        }

        &:last-child{
            border-radius: 0% 0% 30% 30%;
        }
    }
}

.svg-btn{
    color: var(--white);
    cursor: pointer;
    
    &:last-child{
        margin: 1.55rem;
    }
    svg{
        height: 1.4rem;
        width: 1.5rem;

        path{
            fill:none;
            stroke: var(--white);
            stroke-width: 1.5rem;
        }
    }
}