<main class="menu" [ngClass]="{showMenu: isMenuOpen}">
    <h1>Go Talent</h1>
    <figure>
      <div class="menu-profile">
        <img src="./assets/lady.png" alt="user">
      </div>
      <h3>Alejandra de los Santos</h3>
      <h4>Developer Expert</h4>
    </figure>
    <div class="menu-links">
      <a href="#">Perfil</a>
      <a href="#">Ofertas de empleo</a>
      <a href="#">Buscador Avanzado</a>
      <a href="#">Biblioteca de CV's</a>
      <a href="#">Favoritos</a>
    </div>
</main>